#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

.card {
  width: 500px;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.firstinfo {
 display: flex;
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img{
 

width: 80px;
min-height: 80px;
max-height: 80px;

}

.firstinfo .profileinfo {
    padding: 0px 20px;
}

.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5A5A5A;
  line-height: 1.2;
  font-style: initial;
}
